ANSComplexCase_1_0_0_11/Workflows/DNUFlowAutoEmailSendHospitalNotification-28B74269-A7CD-EA11-A812-000D3A7F128D.json
{"properties":{"connectionReferences":{"shared_commondataservice":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}},"shared_office365_1":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_office365"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_record_is_updated":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice","connectionName":"shared_commondataservice","operationId":"SubscribeOnUpdatedItems"},"parameters":{"dataset":"default.cds","table":"incidents","scope":"Organization","subscriptionRequest/AttributeFilters":["ans_hospitalnotificationemail"]},"authentication":"@parameters('$authentication')"}}},"actions":{"Condition":{"actions":{"Get_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice","connectionName":"shared_commondataservice","operationId":"GetItem_V2"},"parameters":{"dataset":"default.cds","table":"accounts","id":"@triggerOutputs()?['body/_ans_setting_value']"},"authentication":"@parameters('$authentication')"}},"Send_an_email_(V2)":{"runAfter":{"Get_record":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365_1","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@outputs('Get_record')?['body/emailaddress1']","emailMessage/Subject":"Case Referal - ID @{triggerOutputs()?['body/ans_ctasid']}","emailMessage/Body":"<p>Dear colleague/s<br>\n<br>\nPlease find below information about a confirmed case whoworked or attended your setting.<br>\n<br>\nID: {Situation Number(Situation)} <br>\nCTAS ID: @{triggerOutputs()?['body/ans_ctasid']}<br>\nCare Home: @{triggerOutputs()?['body/ans_carehome']}<br>\nCase Contact: <br>\nDOB:<br>\nPostcode:<br>\nActivity Name: @{triggerOutputs()?['body/title']}<br>\nActivity Details: @{triggerOutputs()?['body/ans_activitycomments']}<br>\nOnset Date: @{triggerOutputs()?['body/ans_onsetdate']} <br>\nActivity Date:  @{triggerOutputs()?['body/ans_activitydate']}<br>\nActivity Postcode: @{triggerOutputs()?['body/ans_activitypostcode']}<br>\n<br>\nhttps://www.gov.uk/government/publications/covid-19-management-of-exposed-healthcareworkers-and-patients-in-hospital-settings/covid-19-management-of-exposed-healthcareworkers-and-patients-in-hospital-settings &nbsp;&nbsp;<br>\n<br>\nPlease can you click on the following link to enter information on the number of contacts you have identified who require self-isolation for any cases escalated to you.<br>\n<br>\nRegards,<br>\n<br>\nThe Team</p>"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"else":{"actions":{"Terminate":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}}},"expression":{"equals":["@triggerOutputs()?['body/ans_hospitalnotificationemail']",true]},"type":"If"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}