ANSComplexCase_1_0_0_11/Workflows/FlowFormsProSendHospitalRequest-69F7DF98-60DD-EA11-A813-00224801BADC.json
{"properties":{"connectionReferences":{"shared_commondataservice":{"runtimeSource":"invoker","connection":{},"api":{"name":"shared_commondataservice"}},"shared_microsoftformspro":{"runtimeSource":"invoker","connection":{},"api":{"name":"shared_microsoftformspro"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"splitOn":"@triggerBody()['rows']","type":"Request","kind":"ApiConnection","inputs":{"schema":{"type":"object","properties":{"rows":{"type":"array","items":{"type":"object","properties":{"entity":{"type":"object","properties":{"_ans_setting_value":{"title":"Setting","type":"string","format":"guid"},"incidentid":{"title":"Case","type":"string","format":"guid"},"ticketnumber":{"title":"Situation Number","type":"string"},"ans_ctasid":{"title":"CTAS ID","type":"string"},"ans_carehome":{"title":"Care Home","type":"boolean"},"title":{"title":"Situation Title","type":"string"},"ans_onsetdate":{"title":"Onset Date","type":"string","format":"date-time"},"ans_activitydate":{"title":"Activity Date","type":"string","format":"date-time"},"ans_activitypostcode":{"title":"Activity Postcode","type":"string"}},"required":[]}},"required":[]}}},"required":[]},"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"operationId":"GetOnNewItems_V2","parameters":{"dataset":"default.cds","table":"incidents"}}}},"actions":{"Get_record_(Setting)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice","connectionName":"shared_commondataservice","operationId":"GetItem_V2"},"parameters":{"dataset":"default.cds","table":"accounts","id":"@triggerBody()?['entity']?['_ans_setting_value']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Send_a_Survery_for_Contacts":{"runAfter":{"Get_record_(Setting)":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftformspro","connectionName":"shared_microsoftformspro","operationId":"sendSurvey"},"parameters":{"to":"@outputs('Get_record_(Setting)')?['body/emailaddress1']","FormId":"sZepbyGvt0SToFre9qbtRkptKGJPjkRDl2mj1JqCepBUQUlRN1NKRUoxWDU4STZUVUlLTVYxVVpOOS4u","EmailTemplateId":"6d685905-16a6-4f9d-8fa8-e921a4689720","Regarding":"incident, @{triggerBody()?['entity']?['incidentid']}","item/ID":"@triggerBody()?['entity']?['ticketnumber']","item/CTASID":"@triggerBody()?['entity']?['ans_ctasid']","item/CareHome":"@triggerBody()?['entity']?['ans_carehome']","item/ActivityName":"@triggerBody()?['entity']?['title']","item/OnsetDate":"@triggerBody()?['entity']?['ans_onsetdate']","item/ActivityDate":"@triggerBody()?['entity']?['ans_activitydate']","item/ActivityPostcode":"@triggerBody()?['entity']?['ans_activitypostcode']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Terminate":{"runAfter":{"Send_a_Survery_for_Contacts":["Succeeded"]},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}