ANSComplexCase_1_0_0_11/Workflows/FlowCreateContactAfterResponse-FD80FF58-77BC-EA11-A812-000D3A7F128D.json
{"properties":{"connectionReferences":{"shared_commondataservice":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_Survey_Response_is_Created":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice","connectionName":"shared_commondataservice","operationId":"SubscribeOnNewItems"},"parameters":{"dataset":"default.cds","table":"msfp_surveyresponses","scope":"Organization"},"authentication":"@parameters('$authentication')"}}},"actions":{"List_all_Survey_Question_Repsonses":{"runAfter":{"NHS_Number_(Init)":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice","connectionName":"shared_commondataservice","operationId":"GetItems_V2"},"parameters":{"dataset":"default.cds","table":"msfp_questionresponses","$filter":"_msfp_surveyresponseid_value eq '@{variables('Survey Response')}'"},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('List_all_Survey_Question_Repsonses')?['body/value']","actions":{"Question_Label_ID":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Question","value":"@items('Apply_to_each')?['_msfp_questionid_value']"}},"Get_the_Question_Assoicated_with_the_Question_Response":{"runAfter":{"Question_Label_ID":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice","connectionName":"shared_commondataservice","operationId":"GetItem_V2"},"parameters":{"dataset":"default.cds","table":"msfp_questions","id":"@variables('Question')"},"authentication":"@parameters('$authentication')"}},"Question_Label":{"runAfter":{"Get_the_Question_Assoicated_with_the_Question_Response":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Question","value":"@outputs('Get_the_Question_Assoicated_with_the_Question_Response')?['body/msfp_name']"}},"Switch":{"runAfter":{"Question_Response":["Succeeded"]},"cases":{"Case_1":{"case":"First Name","actions":{"First_Name_(Set)":{"runAfter":{},"type":"SetVariable","inputs":{"name":"First Name Response","value":"@variables('Question Response')"}}}},"Case_2":{"case":"Last Name","actions":{"Last_Name_(Set)":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Last Name Response","value":"@variables('Question Response')"}}}},"Case_3":{"case":"Sex","actions":{"Sex_(Set)":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Sex Response","value":"@variables('Question Response')"}}}},"Case_4":{"case":"Email","actions":{"Email_(Set)":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Email Response","value":"@variables('Question Response')"}}}},"Case_5":{"case":"Phone Number","actions":{"Home_Phone_(Set)":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Home Phone Response","value":"@variables('Question Response')"}}}},"Case_6":{"case":"Mobile Phone","actions":{"Mobile_Phone_(Set)":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Mobile Phone Response","value":"@variables('Question Response')"}}}},"Case_7":{"case":"Date of Birth","actions":{"Date_of_Birth_(Set)":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Date of Birth Response","value":"@variables('Question Response')"}}}},"Case_8":{"case":"Address","actions":{"Address_(Set)":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Address 1 Response","value":"@variables('Question Response')"}}}},"Case_9":{"case":"Post Code","actions":{"Post_Code_(Set)":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Post Code Response","value":"@variables('Question Response')"}}}},"Case_10":{"case":"NHS Number","actions":{"NHS_Number_(Set)":{"runAfter":{},"type":"SetVariable","inputs":{"name":"NHS Number Response","value":"@variables('Question Response')"}}}}},"default":{"actions":{}},"expression":"@variables('Question')","type":"Switch"},"Question_Response":{"runAfter":{"Question_Label":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Question Response","value":"@items('Apply_to_each')?['msfp_response']"}}},"runAfter":{"List_all_Survey_Question_Repsonses":["Succeeded"]},"type":"Foreach"},"Question_Label_(Init)":{"runAfter":{"Set_variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Question","type":"string"}]}},"First_Name_(Init)":{"runAfter":{"Question_Response_(Init)":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"First Name Response","type":"string"}]}},"Survey_Response_(Init)":{"runAfter":{"Check_if_Contact_Trace_Survey":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Survey Response","type":"string"}]}},"Last_Name_(Init)":{"runAfter":{"First_Name_(Init)":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Last Name Response","type":"string"}]}},"Sex_(Init)":{"runAfter":{"Last_Name_(Init)":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Sex Response","type":"string"}]}},"Email_(Init)":{"runAfter":{"Sex_(Init)":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Email Response","type":"string"}]}},"Home_Phone_(Init)":{"runAfter":{"Email_(Init)":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Home Phone Response","type":"string"}]}},"Mobile_Phone_(Init)":{"runAfter":{"Home_Phone_(Init)":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Mobile Phone Response","type":"string"}]}},"Date_of_Birth_(Init)":{"runAfter":{"Mobile_Phone_(Init)":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Date of Birth Response","type":"string"}]}},"Address_(Init)":{"runAfter":{"Date_of_Birth_(Init)":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Address 1 Response","type":"string"}]}},"Post_Code_(Init)":{"runAfter":{"Address_(Init)":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Post Code Response","type":"string"}]}},"NHS_Number_(Init)":{"runAfter":{"Post_Code_(Init)":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"NHS Number Response","type":"string"}]}},"Question_Response_(Init)":{"runAfter":{"Question_Label_(Init)":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Question Response","type":"string"}]}},"Set_variable":{"runAfter":{"Survey_Response_(Init)":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Survey Response","value":"@triggerOutputs()?['body/activityid']"}},"Create_a_new_record_(contact)":{"runAfter":{"Apply_to_each":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice","connectionName":"shared_commondataservice","operationId":"PostItem_V2"},"parameters":{"dataset":"default.cds","table":"contacts","item/lastname":"@variables('Last Name Response')","item/telephone1":"@variables('Home Phone Response')","item/birthdate":"@variables('Date of Birth Response')","item/emailaddress1":"@variables('Email Response')","item/firstname":"@variables('First Name Response')","item/address1_line1":"@variables('Address 1 Response')","item/ans_nhsnumber":"@variables('NHS Number Response')","item/mobilephone":"@variables('Mobile Phone Response')","item/address1_postalcode":"@variables('Post Code Response')","item/_parentcustomerid_type":"","item/isbackofficecustomer":false,"item/ans_covid19symptomatic":false,"item/creditonhold":false,"item/donotbulkemail":false,"item/donotbulkpostalmail":false,"item/donotemail":false,"item/donotfax":false,"item/donotpostalmail":false,"item/donotphone":false,"item/followemail":true,"item/msdyn_gdproptout":false,"item/marketingonly":false,"item/participatesinworkflow":false,"item/donotsendmm":false,"item/ans_shielded":false,"item/_ownerid_type":""},"authentication":"@parameters('$authentication')"}},"Create_a_new_record_(contact_trace)":{"runAfter":{"Switch_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice","connectionName":"shared_commondataservice","operationId":"PostItem_V2"},"parameters":{"dataset":"default.cds","table":"ans_contacttraces","item/ans_name":"CT","item/_ans_case_value":"@triggerOutputs()?['body/_regardingobjectid_value']","item/_ans_contact_value":"@outputs('Create_a_new_record_(contact)')?['body/contactid']","item/ans_continuouscough":false,"item/ans_hightemperature":false,"item/ans_symptomatic":false,"item/ans_testadvised":false,"item/ans_vulnerablecitizen":false,"item/_ownerid_type":""},"authentication":"@parameters('$authentication')"}},"Switch_2":{"runAfter":{"Create_a_new_record_(contact)":["Succeeded"]},"cases":{"Case":{"case":"Male","actions":{"Update_a_record_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice","connectionName":"shared_commondataservice","operationId":"PatchItem_V2"},"parameters":{"dataset":"default.cds","table":"contacts","id":"@outputs('Create_a_new_record_(contact)')?['body/contactid']","item/gendercode":1,"item/_parentcustomerid_type":"","item/_ownerid_type":""},"authentication":"@parameters('$authentication')"}}}},"Case_2":{"case":"Female","actions":{"Update_a_record_3":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice","connectionName":"shared_commondataservice","operationId":"PatchItem_V2"},"parameters":{"dataset":"org0cd0d700.crm11","table":"contacts","id":"@outputs('Create_a_new_record_(contact)')?['body/contactid']","item/gendercode":2,"item/_parentcustomerid_type":"","item/_ownerid_type":""},"authentication":"@parameters('$authentication')"}}}},"Case_3":{"case":"Other","actions":{"Update_a_record_4":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice","connectionName":"shared_commondataservice","operationId":"PatchItem_V2"},"parameters":{"dataset":"org0cd0d700.crm11","table":"contacts","id":"@outputs('Create_a_new_record_(contact)')?['body/contactid']","item/gendercode":119020001,"item/_parentcustomerid_type":"","item/_ownerid_type":""},"authentication":"@parameters('$authentication')"}}}}},"default":{"actions":{}},"expression":"@variables('Sex Response')","type":"Switch"},"Check_if_Contact_Trace_Survey":{"actions":{},"runAfter":{"Set_variable_2":["Succeeded"]},"else":{"actions":{"Terminate":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Cancelled"}}}},"expression":{"contains":["@triggerOutputs()?['body/subject']","Contact Tracing"]},"type":"If"},"Initialize_variable":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"SUbject","type":"string"}]}},"Set_variable_2":{"runAfter":{"Initialize_variable":["Succeeded"]},"type":"SetVariable","inputs":{"name":"SUbject","value":"@triggerOutputs()?['body/subject']"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}