ANSComplexCase_1_0_0_11/Workflows/FlowFormsProSendContactTraceRequesttoSetting-C495A017-7EBC-EA11-A812-00224801BADC.json
{"properties":{"connectionReferences":{"shared_commondataservice":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}},"shared_microsoftformspro":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_microsoftformspro"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"splitOn":"@triggerBody()['rows']","type":"Request","kind":"ApiConnection","inputs":{"schema":{"type":"object","properties":{"rows":{"type":"array","items":{"type":"object","properties":{"entity":{"type":"object","properties":{"incidentid":{"title":"Case","type":"string","format":"guid"},"title":{"title":"Incident Title","type":"string"},"_ans_settingcontact_value":{"title":"Setting Contact","type":"string","format":"guid"}},"required":["incidentid","title","_ans_settingcontact_value"]}},"required":["entity"]}}},"required":["rows"]},"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"operationId":"GetOnNewItems_V2","parameters":{"dataset":"default.cds","table":"incidents"}}}},"actions":{"This_action_sends_a_survey_to_a_specified_list_of_recipients_3":{"runAfter":{"Get_record":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"sendSurvey"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_microsoftformspro']['connectionId']"}},"method":"post","body":{"Case":"@triggerBody()?['entity']?['title']"},"path":"/api/sendmail/flow","queries":{"to":"@body('Get_record')?['emailaddress1']","FormId":"sZepbyGvt0SToFre9qbtRkptKGJPjkRDl2mj1JqCepBUNkkwMUdKVzVLU0lUS01OVjdGMVEzUjkwTy4u","EmailTemplateId":"42d876f6-d4ff-4c4f-b82e-229b543d23d2","Regarding":"incident, @{triggerBody()?['entity']?['incidentid']}","RecipientInfo":"contact, @{triggerBody()?['entity']?['_ans_settingcontact_value']}","firstName":"@body('Get_record')?['firstname']","lastName":"@body('Get_record')?['lastname']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Terminate":{"runAfter":{"This_action_sends_a_survey_to_a_specified_list_of_recipients_3":["Succeeded"]},"type":"Terminate","inputs":{"runStatus":"Succeeded"}},"Get_record":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_commondataservice']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('contacts'))}/items/@{encodeURIComponent(encodeURIComponent(triggerBody()?['entity']?['_ans_settingcontact_value']))}","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}