ANSComplexCase_1_0_0_11/Workflows/FlowUpdateSituationSetSituationNameonUpdate-1DFACA6A-96C2-EA11-A812-00224801BADC.json
{"properties":{"connectionReferences":{"shared_commondataservice":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_record_is_updated":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice","connectionName":"shared_commondataservice","operationId":"SubscribeOnUpdatedItems"},"parameters":{"dataset":"default.cds","table":"incidents","scope":"Organization","subscriptionRequest/AttributeFilters":["customerid"]},"authentication":"@parameters('$authentication')"}}},"actions":{"Contact_Name_-_Set":{"runAfter":{"Contact_Name":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Contact Name","value":"@outputs('Get_record')?['body/fullname']"}},"Contact_Name":{"runAfter":{"Get_record":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Contact Name","type":"string"}]}},"Condition":{"actions":{},"runAfter":{"Contact_Name_-_Set":["Succeeded"]},"else":{"actions":{"Update_a_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice","connectionName":"shared_commondataservice","operationId":"PatchItem_V2"},"parameters":{"dataset":"default.cds","table":"incidents","id":"@triggerOutputs()?['body/incidentid']","item/_customerid_type":"","item/title":"@variables('Contact Name')","item/_ownerid_type":""},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@variables('Contact Name')","@null"]},"type":"If"},"Get_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice","connectionName":"shared_commondataservice","operationId":"GetItem_V2"},"parameters":{"dataset":"default.cds","table":"contacts","id":"@triggerOutputs()?['body/_customerid_value']"},"authentication":"@parameters('$authentication')"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}