ANSComplexCase_1_0_0_11/Workflows/FlowAutoEmail-SendLocalityNotification-00AD27DC-BDCC-EA11-A812-000D3A7F128D.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}},"shared_office365_1":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_office365"}},"shared_commondataservice":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_Locality_Change_is_Made":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"SubscribeOnUpdatedItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"incidents","scope":"Organization","subscriptionRequest/AttributeFilters":["ans_localitycaseupdate"]},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_a_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"ans_localities","recordId":"@triggerOutputs()?['body/_ans_locality_value']"},"authentication":"@parameters('$authentication')"}},"Condition_Advise":{"actions":{"Send_an_email_(V2)_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365_1","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@outputs('Get_a_record')?['body/ans_email']","emailMessage/Subject":"Referral for contact tracing and/or consequence management","emailMessage/Body":"<p>Dear @{outputs('Get_a_record')?['body/ans_name']} SPOC<br>\n<br>\nA new confirmed case has been added to your workflow for Information Only (No Locality Action Required)<br>\n<br>\nPlease log into the system to view the details.<br>\n<br>\nKind Regards<br>\n<br>\nGM SPOC</p>"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_a_record":["Succeeded"]},"expression":{"equals":["@triggerOutputs()?['body/ans_localitycaseupdate']",119020001]},"type":"If"},"Condition_Prepare":{"actions":{"Send_an_email_(V2)_3":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365_1","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@outputs('Get_a_record')?['body/ans_email']","emailMessage/Subject":"Referral for contact tracing and/or consequence management","emailMessage/Body":"<p>Dear @{outputs('Get_a_record')?['body/ans_name']} SPOC<br>\n<br>\nA new confirmed case has been added to your workflow for Preparedness (No Action Required Now, But This May Change)<br>\n<br>\nPlease log into the system to view the details.<br>\n<br>\nKind Regards<br>\n<br>\nGM SPOC</p>"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Condition_Advise":["Succeeded"]},"expression":{"equals":["@triggerOutputs()?['body/ans_localitycaseupdate']",119020003]},"type":"If"},"Condition_Action":{"actions":{"Send_an_email_(V2)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365_1","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@outputs('Get_a_record')?['body/ans_email']","emailMessage/Subject":"Referral for contact tracing and/or consequence management","emailMessage/Body":"<p>Dear @{outputs('Get_a_record')?['body/ans_name']} SPOC<br>\n<br>\nA new confirmed case has been added to your workflow for Action (Locality Action Required)<br>\n<br>\nPlease log into the system to view the details.<br>\n<br>\nKind Regards<br>\n<br>\nGM SPOC</p>"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Condition_Prepare":["Succeeded"]},"expression":{"equals":["@triggerOutputs()?['body/ans_localitycaseupdate']",119020002]},"type":"If"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}