ANSComplexCase_1_0_0_11/Workflows/FlowCreateSituationCaseActionPlanActions-D10C1A80-99C6-EA11-A812-00224801BADC.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"impersonation":{},"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}},"shared_commondataservice":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_record_is_created":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice","connectionName":"shared_commondataservice","operationId":"SubscribeOnNewItems"},"parameters":{"dataset":"default.cds","table":"incidents","scope":"Organization"},"authentication":"@parameters('$authentication')"}}},"actions":{"List_records_-_Actions":{"runAfter":{"Terminate":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"ListRecords"},"parameters":{"entityName":"ans_actions","$filter":"_ans_actionplan_value eq '00ad04dc-08bd-ea11-a812-000d3a7f128d'"},"authentication":"@parameters('$authentication')"}},"Initialize_variable_-_EndofToday":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"EndofToday","type":"string","value":"@{formatDateTime(utcNow(),'yyyy-MM-ddT18:00')}"}]}},"Initialize_variable_-_Action_Timescale":{"runAfter":{"Initialize_variable_-_EndofToday":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Action Timescale","type":"integer"}]}},"Apply_to_each":{"foreach":"@outputs('List_records_-_Actions')?['body/value']","actions":{"Increment_variable_-_Action_Timescale":{"runAfter":{},"type":"IncrementVariable","inputs":{"name":"Action Timescale","value":"@items('Apply_to_each')?['ans_timescalesdays']"}},"Create_a_new_record_-_Action_Task":{"runAfter":{"Get_record_-_Owner_Team":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice","connectionName":"shared_commondataservice","operationId":"PostItem_V2"},"parameters":{"dataset":"default.cds","table":"tasks","item/subject":"@items('Apply_to_each')?['ans_name']","item/description":"@items('Apply_to_each')?['ans_description']","item/scheduledend":"@addDays(variables('EndofToday'), variables('Action Timescale'))","item/_ownerid_type":"","item/_regardingobjectid_value":"@triggerOutputs()?['body/incidentid']","item/_regardingobjectid_type":"incidents","item/isbilled":false,"item/isworkflowcreated":false},"authentication":"@parameters('$authentication')"}},"Get_record_-_Owner_Team":{"runAfter":{"Increment_variable_-_Action_Timescale":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice","connectionName":"shared_commondataservice","operationId":"GetItem_V2"},"parameters":{"dataset":"default.cds","table":"teams","id":"@items('Apply_to_each')?['_ownerid_value']"},"authentication":"@parameters('$authentication')"}},"Create_a_new_record_-_Queue_Item":{"runAfter":{"Update_a_record_-_Action_Task":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice","connectionName":"shared_commondataservice","operationId":"PostItem_V2"},"parameters":{"dataset":"default.cds","table":"queueitems","item/_objectid_value":"@outputs('Create_a_new_record_-_Action_Task')?['body/activityid']","item/_objectid_type":"tasks","item/_queueid_value":"@outputs('Get_record_-_Owner_Team')?['body/_queueid_value']","item/_workerid_type":""},"authentication":"@parameters('$authentication')"}},"Update_a_record_-_Action_Task":{"runAfter":{"Create_a_new_record_-_Action_Task":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice","connectionName":"shared_commondataservice","operationId":"PatchItem_V2"},"parameters":{"dataset":"default.cds","table":"tasks","id":"@outputs('Create_a_new_record_-_Action_Task')?['body/activityid']","item/ans_actiongrouping":"@items('Apply_to_each')?['ans_actiongrouping']","item/_ownerid_type":"","item/_regardingobjectid_type":"incidents"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_records_-_Actions":["Succeeded"]},"type":"Foreach"},"Condition":{"actions":{"List_records_-_Actions_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"ListRecords"},"parameters":{"entityName":"ans_actions","$filter":"_ans_actionplan_value eq '00ad04dc-08bd-ea11-a812-000d3a7f128d'"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_2":{"foreach":"@outputs('List_records_-_Actions_2')?['body/value']","actions":{"Increment_variable_-_Action_Timescale_2":{"runAfter":{},"type":"IncrementVariable","inputs":{"name":"Action Timescale","value":"@items('Apply_to_each_2')?['ans_timescalesdays']"}},"Create_a_new_record_-_Action_Task_2":{"runAfter":{"Get_record_-_Owner_Team_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice","connectionName":"shared_commondataservice","operationId":"PostItem_V2"},"parameters":{"dataset":"default.cds","table":"tasks","item/subject":"@items('Apply_to_each_2')?['ans_name']","item/description":"@items('Apply_to_each_2')?['ans_description']","item/scheduledend":"@addDays(variables('EndofToday'), variables('Action Timescale'))","item/_ownerid_type":"","item/_regardingobjectid_value":"@triggerOutputs()?['body/incidentid']","item/_regardingobjectid_type":"incidents","item/isbilled":false,"item/isworkflowcreated":false},"authentication":"@parameters('$authentication')"}},"Get_record_-_Owner_Team_2":{"runAfter":{"Increment_variable_-_Action_Timescale_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice","connectionName":"shared_commondataservice","operationId":"GetItem_V2"},"parameters":{"dataset":"default.cds","table":"teams","id":"@items('Apply_to_each_2')?['_ownerid_value']"},"authentication":"@parameters('$authentication')"}},"Create_a_new_record_-_Queue_Item_2":{"runAfter":{"Update_a_record_-_Action_Task_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice","connectionName":"shared_commondataservice","operationId":"PostItem_V2"},"parameters":{"dataset":"default.cds","table":"queueitems","item/_objectid_value":"@outputs('Create_a_new_record_-_Action_Task_2')?['body/activityid']","item/_objectid_type":"tasks","item/_queueid_value":"@outputs('Get_record_-_Owner_Team_2')?['body/_queueid_value']","item/_workerid_type":""},"authentication":"@parameters('$authentication')"}},"Update_a_record_-_Action_Task_2":{"runAfter":{"Create_a_new_record_-_Action_Task_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice","connectionName":"shared_commondataservice","operationId":"PatchItem_V2"},"parameters":{"dataset":"default.cds","table":"tasks","id":"@outputs('Create_a_new_record_-_Action_Task_2')?['body/activityid']","item/ans_actiongrouping":"@items('Apply_to_each_2')?['ans_actiongrouping']","item/_ownerid_type":"","item/_regardingobjectid_type":"incidents"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_records_-_Actions_2":["Succeeded"]},"type":"Foreach"}},"runAfter":{"Initialize_variable_-_Action_Timescale":["Succeeded"]},"else":{"actions":{"List_records_-_Actions_3":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"ListRecords"},"parameters":{"entityName":"ans_actions","$filter":"_ans_actionplan_value eq '28f66862-08bd-ea11-a812-000d3a7f128d'"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_3":{"foreach":"@outputs('List_records_-_Actions_3')?['body/value']","actions":{"Increment_variable_-_Action_Timescale_3":{"runAfter":{},"type":"IncrementVariable","inputs":{"name":"Action Timescale","value":"@items('Apply_to_each_3')?['ans_timescalesdays']"}},"Create_a_new_record_-_Action_Task_3":{"runAfter":{"Get_record_-_Owner_Team_3":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice","connectionName":"shared_commondataservice","operationId":"PostItem_V2"},"parameters":{"dataset":"default.cds","table":"tasks","item/subject":"@items('Apply_to_each_3')?['ans_name']","item/description":"@items('Apply_to_each_3')?['ans_description']","item/scheduledend":"@addDays(variables('EndofToday'), variables('Action Timescale'))","item/_ownerid_type":"","item/_regardingobjectid_value":"@triggerOutputs()?['body/incidentid']","item/_regardingobjectid_type":"incidents","item/isbilled":false,"item/isworkflowcreated":false},"authentication":"@parameters('$authentication')"}},"Get_record_-_Owner_Team_3":{"runAfter":{"Increment_variable_-_Action_Timescale_3":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice","connectionName":"shared_commondataservice","operationId":"GetItem_V2"},"parameters":{"dataset":"default.cds","table":"teams","id":"@items('Apply_to_each_3')?['_ownerid_value']"},"authentication":"@parameters('$authentication')"}},"Create_a_new_record_-_Queue_Item_3":{"runAfter":{"Update_a_record_-_Action_Task_3":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice","connectionName":"shared_commondataservice","operationId":"PostItem_V2"},"parameters":{"dataset":"default.cds","table":"queueitems","item/_objectid_value":"@outputs('Create_a_new_record_-_Action_Task_3')?['body/activityid']","item/_objectid_type":"tasks","item/_queueid_value":"@outputs('Get_record_-_Owner_Team_3')?['body/_queueid_value']","item/_workerid_type":""},"authentication":"@parameters('$authentication')"}},"Update_a_record_-_Action_Task_3":{"runAfter":{"Create_a_new_record_-_Action_Task_3":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice","connectionName":"shared_commondataservice","operationId":"PatchItem_V2"},"parameters":{"dataset":"default.cds","table":"tasks","id":"@outputs('Create_a_new_record_-_Action_Task_3')?['body/activityid']","item/ans_actiongrouping":"@items('Apply_to_each_3')?['ans_actiongrouping']","item/_ownerid_type":"","item/_regardingobjectid_type":"incidents"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_records_-_Actions_3":["Succeeded"]},"type":"Foreach"}}},"expression":{"equals":["@triggerOutputs()?['body/ans_carehome']",false]},"type":"If"},"Terminate":{"runAfter":{"Condition":["Succeeded"]},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}