ANSComplexCase_1_0_0_11/Workflows/FlowCreateSituationLooktoCreateCase-3CEEA0A5-AAB4-EA11-A812-000D3A7F128D.json
{"properties":{"connectionReferences":{"shared_commondataservice":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_record_is_created":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice","connectionName":"shared_commondataservice","operationId":"SubscribeOnNewItems"},"parameters":{"dataset":"org0cd0d700.crm11","table":"incidents","scope":"Organization"},"authentication":"@parameters('$authentication')"}}},"actions":{"List_records":{"runAfter":{"Initialize_variable":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice","connectionName":"shared_commondataservice","operationId":"GetItems_V2"},"parameters":{"dataset":"org0cd0d700.crm11","table":"contacts","$filter":"ans_ctasid eq '@{triggerOutputs()?['body/ans_ctasid']}'","$top":1},"authentication":"@parameters('$authentication')"}},"Initialize_variable":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"Contact Name","type":"string"}]}},"Apply_to_each":{"foreach":"@outputs('List_records')?['body/value']","actions":{"Set_variable":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Contact Name","value":"@items('Apply_to_each')?['contactid']"}}},"runAfter":{"List_records":["Succeeded"]},"type":"Foreach"},"Condition":{"actions":{"Update_a_record_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice","connectionName":"shared_commondataservice","operationId":"PatchItem_V2"},"parameters":{"dataset":"org0cd0d700.crm11","table":"incidents","id":"@triggerOutputs()?['body/incidentid']","item/_ans_ctas_value":"@variables('Contact Name')","item/_ownerid_type":""},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Apply_to_each":["Succeeded"]},"else":{"actions":{"Create_a_new_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice","connectionName":"shared_commondataservice","operationId":"PostItem_V2"},"parameters":{"dataset":"default.cds","table":"contacts","item/ans_ctasid":"@triggerOutputs()?['body/ans_ctasid']","item/lastname":"@triggerOutputs()?['body/ans_surname']","item/firstname":"@triggerOutputs()?['body/ans_forename']","item/_parentcustomerid_type":"","item/isbackofficecustomer":false,"item/ans_covid19symptomatic":false,"item/creditonhold":false,"item/donotbulkemail":false,"item/donotbulkpostalmail":false,"item/donotemail":false,"item/donotfax":false,"item/donotpostalmail":false,"item/donotphone":false,"item/followemail":true,"item/msdyn_gdproptout":false,"item/marketingonly":false,"item/participatesinworkflow":false,"item/donotsendmm":false,"item/_ownerid_type":""},"authentication":"@parameters('$authentication')"}},"Update_a_record":{"runAfter":{"Create_a_new_record":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice","connectionName":"shared_commondataservice","operationId":"PatchItem_V2"},"parameters":{"dataset":"org0cd0d700.crm11","table":"incidents","id":"@triggerOutputs()?['body/incidentid']","item/_customerid_type":"contacts","item/_ans_ctas_value":"@outputs('Create_a_new_record')?['body/contactid']","item/_ownerid_type":""},"authentication":"@parameters('$authentication')"}}}},"expression":{"contains":["@variables('Contact Name')","-"]},"type":"If"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}