ANSComplexCase_1_0_0_11/Workflows/FlowCreateSituationMergeCommentsFields-5C017B23-FFC0-EA11-A812-000D3A7F128D.json
{"properties":{"connectionReferences":{"shared_commondataservice":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_record_is_created":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice","connectionName":"shared_commondataservice","operationId":"SubscribeOnNewItems"},"parameters":{"dataset":"default.cds","table":"incidents","scope":"Organization"},"authentication":"@parameters('$authentication')"}}},"actions":{"Activity_Comments_-_Init":{"runAfter":{"Final_Comments":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Activity Comments","type":"string","value":"@triggerOutputs()?['body/ans_activitycomments']"}]}},"Activity_Description_-_Init":{"runAfter":{"AC_Length_-_Init":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Activity Description","type":"string","value":"@triggerOutputs()?['body/ans_activitydescription']"}]}},"Final_Comments":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"Final Comments","type":"string"}]}},"Condition_to_check_AC_length":{"actions":{},"runAfter":{"AC_Length_-_Init_2":["Succeeded"]},"else":{"actions":{"Set_variable":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Final Comments","value":"@variables('Activity Comments')"}}}},"expression":{"lessOrEquals":["@variables('AC Length')",0]},"type":"If"},"Update_a_record":{"runAfter":{"Condition_to_check_AD_length":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice","connectionName":"shared_commondataservice","operationId":"PatchItem_V2"},"parameters":{"dataset":"default.cds","table":"incidents","id":"@triggerOutputs()?['body/incidentid']","item/_customerid_type":"","item/ans_activitycomments":"@variables('Final Comments')","item/_ownerid_type":""},"authentication":"@parameters('$authentication')"}},"AC_Length_-_Init":{"runAfter":{"Activity_Comments_-_Init":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"AC Length","type":"integer","value":"@LENGTH(variables('Activity Comments'))"}]}},"AC_Length_-_Init_2":{"runAfter":{"Activity_Description_-_Init":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"AD Length","type":"integer","value":"@LENGTH(variables('Activity Description'))"}]}},"Condition_to_check_AD_length":{"actions":{},"runAfter":{"Condition_to_check_AC_length":["Succeeded"]},"else":{"actions":{"Condition":{"actions":{"Set_variable_3":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Final Comments","value":"@variables('Activity Description')"}}},"runAfter":{},"else":{"actions":{"Append_to_string_variable_2":{"runAfter":{},"type":"AppendToStringVariable","inputs":{"name":"Final Comments","value":" ~ @{variables('Activity Description')}"}}}},"expression":{"lessOrEquals":["@variables('AC Length')",0]},"type":"If"}}},"expression":{"lessOrEquals":["@variables('AD Length')",0]},"type":"If"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}