ANSComplexCase_1_0_0_11/Workflows/FlowUpdateNumberAfterResponse-0CF06080-F8DA-EA11-A813-000D3A7F128D.json
{"properties":{"connectionReferences":{"shared_commondataservice":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_Survey_Response_is_Created":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"SubscribeOnNewItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"msfp_surveyresponses","scope":"Organization"},"authentication":"@parameters('$authentication')"}}},"actions":{"List_all_Survey_Question_Repsonses":{"runAfter":{"Self_Isolation_Contacts_(Init)":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"GetItems_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"msfp_questionresponses","$filter":"_msfp_surveyresponseid_value eq '@{variables('Survey Response')}'"},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('List_all_Survey_Question_Repsonses')?['body/value']","actions":{"Question_Label_ID":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Question","value":"@items('Apply_to_each')?['_msfp_questionid_value']"}},"Get_the_Question_Assoicated_with_the_Question_Response":{"runAfter":{"Question_Label_ID":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"GetItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"msfp_questions","id":"@variables('Question')"},"authentication":"@parameters('$authentication')"}},"Question_Label":{"runAfter":{"Get_the_Question_Assoicated_with_the_Question_Response":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Question","value":"@outputs('Get_the_Question_Assoicated_with_the_Question_Response')?['body/msfp_name']"}},"Question_Response":{"runAfter":{"Question_Label":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Question Response","value":"@items('Apply_to_each')?['msfp_response']"}},"Contact_Value":{"runAfter":{"Question_Response":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Self Isolation","value":"@int(variables('Question Response'))"}},"Update_a_record":{"runAfter":{"Contact_Value":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"PatchItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"incidents","id":"@triggerOutputs()?['body/_regardingobjectid_value']","item/_customerid_type":"","item/ans_numberofcontacts":"@variables('Self Isolation')","item/_ownerid_type":""},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_all_Survey_Question_Repsonses":["Succeeded"]},"type":"Foreach"},"Survey_Response_(Init)":{"runAfter":{"Check_if_Contact_Trace_Survey":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Survey Response","type":"string"}]}},"Set_variable":{"runAfter":{"Survey_Response_(Init)":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Survey Response","value":"@triggerOutputs()?['body/activityid']"}},"Check_if_Contact_Trace_Survey":{"actions":{},"runAfter":{},"else":{"actions":{"Terminate":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Cancelled"}}}},"expression":{"contains":["@triggerOutputs()?['body/subject']","Self Isolation Contacts"]},"type":"If"},"Self_Isolation_Contacts_(Init)":{"runAfter":{"Question_Response_(Init)":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Self Isolation","type":"integer","value":0}]}},"Question_Label_(Init)":{"runAfter":{"Set_variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Question","type":"string"}]}},"Question_Response_(Init)":{"runAfter":{"Question_Label_(Init)":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Question Response","type":"string"}]}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}